.popup_wrapper{
    background:$grey_dark;
}
.popup__header{
    background:$grey_light;
}
.popup__title{

}
.popup__heading{
    font-size:2em;
}
.button__action--close{

}
.popup__body{

}
.popup__inputs{

}
.popup__inputgroup{

}
.popup_footer{
    background:$grey_mid;
}
.popup__button{

}